<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <head>
        <h1> YoMusic </h1>
    </head>
	<body>

    <h2>Are you sure you want to delete {{song.name}} from your {{genre.name}} Playlist?</h2>
    <form action='{{url_for('deleteSong', genre_id= genre.id, song_id= song.id)}}' method = 'post'>
        <input type='submit' value='Delete'>
    </form>
    <a href='{{url_for('showPlaylist', genre_id= genre.id)}}'> Cancel</a>

	</body>
</html>
