{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="page_description">
    <h2>Your genres</h2>
    <a class="create_link" href="{{ url_for('newGenre')}}">Add New Genre</a>
</div>


{% for genre in genres %}
<div class="genre">
    <a class= 'genre_name' href='{{ url_for('showPlaylist', genre_id = genre.id)}}'>{{genre.name}}</a>
    <div class="edit_delete">
        <a href='{{ url_for('editGenre', genre_id = genre.id)}}'>Edit</a>
        <a href='{{ url_for('deleteGenre', genre_id = genre.id)}}'> Delete</a>
    </div>
</div>
{% endfor %}
{% endblock %}
