<html>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <head>
        <h1> YoMusic </h1>
    </head>
	<body>

    <h2>Your genres</h2>
	<a href="{{ url_for('newGenre')}}">Add New Genre</a>
    <br><br>

	{% for genre in genres %}
    <a href='{{ url_for('showPlaylist', genre_id = genre.id)}}'>{{genre.name}}</a>
    <br>
	<a href='{{ url_for('editGenre', genre_id = genre.id)}}'>Edit</a>
	<a href='{{ url_for('deleteGenre', genre_id = genre.id)}}'> Delete</a>
    <br><br>
	{% endfor %}

	</body>
</html>
