<html>
    <head>
        <h1> YoMusic </h1>
    </head>
	<body>

    <h2> Add Song to {{genre.name}}</h2>
    <form action='{{url_for('newSong', genre_id = genre.id)}}' method = 'post'>
    Name: <br>
    <input type ='text' size='30' name='name'>
    <br> <br>
    Artist: <br>
    <input type ='text' size='30' name='artist'>
    <br> <br>
    Album: <br>
    <input type ='text' size='30' name='album'>
    <br> <br>

    <input type='submit' value='Create'>
    </form>

	<a href='{{url_for('showPlaylist', genre_id= genre.id)}}'> Back to {{genre.name}} Playlist</a>

	</body>
</html>
