<html>
    <head>
        <h1> YoMusic </h1>
    </head>
	<body>

    <h2>{{genre.name}} Playlist</h2>
	<a href='{{url_for('newSong', genre_id= genre.id)}}'>Add New Song</a>
    <br><br>

    {% for song in songs %}
        <span class = 'name'> {{song.name}} - </span>
        <span class = 'artist'> {{song.artist}} </span>
        <br>
        <a href='{{url_for('editSong', genre_id= genre.id, song_id= song.id)}}'>Edit</a>
        <a href='{{url_for('deleteSong', genre_id= genre.id, song_id= song.id)}}'>Delete</a>
        <br><br>

    {% endfor %}

    <a href='{{url_for('showGenres')}}'>Back to all genres</a>
	</body>
</html>
