{% extends "main.html" %}
{% block content %}
{% include "publicHeader.html" %}

<h2>{{genre.name}} Playlist</h2>
<a href='{{url_for('newSong', genre_id= genre.id)}}'>Add New Song</a>
<br><br>

{% for song in songs %}
    <div class="song">
        <div class="name_and_artist">
            <span class = 'song_name'> {{song.name}} - </span>
            <span class = 'artist'> {{song.artist}} </span>
        </div>
    </div>

{% endfor %}


<a href='{{url_for('showGenres')}}'>Back to all genres</a>
{% endblock %}
